<nav class="navbar navbar-static-top navbar-default navbar-main">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<!--<span class="glyphicon glyphicon-home"></span> Gulp Angular-->
				<img src="assets/images/logo-smith-nephew.png" alt="Smith & Nephew" />
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-href="#">My Approvals <span class="badge">3</span></a></li>
				<li><a ng-href="#">My Items <span class="badge">6</span></a></li>
				<li><a ng-href="#"><i class="glyphicon glyphicon-shopping-cart"></i> <span class="badge">2</span></a>
				</li>
				<li><a ng-href="#"><i class="glyphicon glyphicon-globe"></i> ENG</a></li>
				<li><a ng-href="#">Welcome, <strong>John</strong> &nbsp; <i class="glyphicon glyphicon-user"></i></a></li>
			</ul>

		</div>
	</div>
</nav>
